@tailwind base;
@tailwind components;
@tailwind utilities;

#MySidebar {
  @apply pl-[1.5rem]  max-h-screen w-[16rem] lg:w-[20rem]  drop-shadow-xl  max-lg:fixed z-[10] top-0 sticky;
  @apply bg-white dark:bg-slate-900 dark:!text-white;
}

#MySidebar section,
#MySidebar ul {
  @apply space-y-[1.2rem];
}
#MySidebar input[type="radio"] + label {
  @apply cursor-pointer w-[90%] h-[2.5rem]  rounded-md;
}
#MySidebar input[type="radio"] + label a {
  @apply space-x-[1rem] flex items-center px-[13px] dark:hover:text-black lg:hover:bg-gray-300 rounded-md;
}

#MySidebar input[type="radio"]:checked + label {
  @apply text-white;
}
